{
    "pageData": {
        "pageTitle": "${functionName}",//页面标题 可替换
        "pageSubTitle": "",
        "showLeftTree": false,
        "treeApiUrl": "",
        "treeSearchAble": true,
        "treeApiParams": {},
        "treeTableProperty": "parentId",
        "btnGroup": [
            // 这里是按钮操作区，先采用固定方式
            {
                "name": "新增",//页面按钮名称 可替换
                "color": "#046BCA",//页面按钮颜色 可替换
                "icon": "Plus",//页面按钮图标 可替换
                "type": "primary",
                "triggerMethodsName": "handleAdd"//页面按钮触发方法 可替换
            },
            {
                "name": "删除",
                "color": "#D80A0D",
                "icon": "Delete",
                "type": "primary",
                "triggerMethodsName": "handleMoreDel"
            }
        ],
        "delApiUrl": "/api/${moduleName}/${businessName}/delete",//删除接口路径 可替换
        "delApiParams": {},//删除接口参数 可替换
        "tableApiUrl": "/api/${moduleName}/${businessName}/list",//列表接口路径 可替换
        "tableApiParams": {},//列表接口路径 可替换
        "tableFilterParams": {
            "q": ""
        },
        "nameFilterKeyName": "q",
        "tableFilterConfig": {
            "showFilter": true,
            "configArr": [
                // 这里是查询数值配置区
#foreach($column in $columns)
#if($column.query)
#set($parentheseIndex=$column.columnComment.indexOf("，"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#set($dictType=$column.dictType)
#if($column.htmlType == "input")
                {
                    "type": "$column.htmlType",//筛选组件类型 可替换
                    "label": "${comment}：",//筛选字段名称 可替换
                    "field": "${column.javaField}",//筛选字段值 可替换
                    "defaultValue": "",//筛选字段默认值 可替换
                    "othersExtends": {
                        "isAsync": false,//是否绑定字典值 可替换
                        "asyncConfig": {
                            "url": "",//字典值获取接口路径 可替换
                            "params": {},//字典值获取接口参数 可替换
                            "dataPath": "data"
                        },
                        "options": [],
                        "labelProperty": "label",
                        "valueProperty": "value"
                    }
                },
#elseif(($column.htmlType == "select" || $column.htmlType == "checkbox" || $column.htmlType == "radio") && "" != $dictType)
                {
                    "type": "$column.htmlType",//筛选组件类型 可替换
                    "label": "${comment}",//筛选字段名称 可替换
                    "field": "${column.javaField}",//筛选字段值 可替换
                    "defaultValue": "",//筛选字段默认值 可替换
                    "othersExtends": {
                        "isAsync": true,//是否绑定字典值 可替换
                        "asyncConfig": {
                            "url": "/api/admin/dictionary/type/$dictType",//字典值获取接口路径 可替换
                            "params": {},//字典值获取接口参数 可替换
                            "dataPath": "data"
                        },
                        "options": [],
                        "labelProperty": "label",
                        "valueProperty": "value"
                    }
                },
#elseif(($column.htmlType == "select" || $column.htmlType == "checkbox" || $column.htmlType == "radio") && $dictType)
                {
                    "type": "$column.htmlType",//筛选组件类型 可替换
                    "label": "${comment}",//筛选字段名称 可替换
                    "field": "${column.javaField}",//筛选字段值 可替换
                    "defaultValue": "",//筛选字段默认值 可替换
                    "othersExtends": {
                        "isAsync": false,//是否绑定字典值 可替换
                        "asyncConfig": {
                            "url": "",//字典值获取接口路径 可替换
                            "params": {},//字典值获取接口参数 可替换
                            "dataPath": "data"
                        },
                        "options": [],
                        "labelProperty": "label",
                        "valueProperty": "value"
                    }
                },
#elseif($column.htmlType == "datetime" )

#end
#end
#end
            ]
        },
        "tableColumns": [
            {
                "type": "index",
                "label": "序号",
                "minWidth": 60
            },
            // 这里是列表表头配置区
#foreach($column in $columns)
#set($javaField=$column.javaField)
#set($parentheseIndex=$column.columnComment.indexOf("，"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.pk)
            { "type": "${javaField}", "label": "${comment}", "minWidth": 80 },
#elseif($column.list && $column.htmlType == "datetime")
            { "type": "${javaField}", "label": "${comment}", "minWidth": 180 },
#elseif($column.list && "" != $column.dictType)
            { "type": "${javaField}", "label": "${comment}", "minWidth": 120 },
#elseif($column.list && "" != $javaField)
            { "type": "${javaField}", "label": "${comment}", "minWidth": 120 },
#end
#end

        ],
        "tableDynamicData": true,
        "tableList": [],
        "tableShowSelection": true,
        "tableShowOperation": true,
        "tableOperationWith": 160,
        "tableShowView": true,
        "tableBtnView": "查看",
        "tableShowEdit": true,
        "tableBtnEdit": "修改",
        "tableShowDel": true,
        "tableBtnDel": "删除",
        "tableOperation": [],
        "editRouteName": "genericPage-universalOperate",
        "viewRouteName": "genericPage-universalOperate",
        "extendsObj": {}
    },
    "formData": {
        "formFields": [
            {
                // 这里是详情信息配置区
                "fields":[
#foreach($column in $columns)
#if($column.insert && !$column.pk)
#if(($column.usableColumn) || (!$column.superColumn))
#set($field=$column.javaField)
#set($parentheseIndex=$column.columnComment.indexOf("，"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#set($isRequired=$column.isRequired)
#if($column.insert && !$column.pk)
#if(($column.usableColumn) || (!$column.superColumn))
#set($dictType=$column.dictType)
#if($column.htmlType == "input")
                { "field": "${field}", "label": "${comment}", "isRequired": "${isRequired}", "htmlType": "${column.htmlType}", "dictType": "" },
#elseif($column.htmlType == "imageUpload")
                { "field": "${field}", "label": "${comment}", "isRequired": "${isRequired}", "htmlType": "${column.htmlType}", "dictType": "" },
#elseif($column.htmlType == "fileUpload")
                { "field": "${field}", "label": "${comment}", "isRequired": "${isRequired}", "htmlType": "${column.htmlType}", "dictType": "" },
#elseif($column.htmlType == "editor")
                { "field": "${field}", "label": "${comment}", "isRequired": "${isRequired}", "htmlType": "${column.htmlType}", "dictType": "" },
#elseif(($column.htmlType == "select" || $column.htmlType == "checkbox" || $column.htmlType == "radio") && "" != $dictType)
                { "field": "${field}", "label": "${comment}", "isRequired": "${isRequired}", "htmlType": "${column.htmlType}", "dictType": "${dictType}" },
#elseif(($column.htmlType == "select" || $column.htmlType == "checkbox" || $column.htmlType == "radio") && $dictType)
                { "field": "${field}", "label": "${comment}", "isRequired": "${isRequired}", "htmlType": "${column.htmlType}", "dictType": "" },
#elseif($column.htmlType == "datetime")
                { "field": "${field}", "label": "${comment}", "isRequired": "${isRequired}", "htmlType": "${column.htmlType}", "dictType": "" },
#elseif($column.htmlType == "textarea")
                { "field": "${field}", "label": "${comment}", "isRequired": "${isRequired}", "htmlType": "${column.htmlType}", "dictType": "" },
#end
#end
#end
#end
#end
#end
                ],
                "getOptionsApi": "/api/admin/dictionary/type/{}",//字段绑定字典获取字典接口路径 可替换
                "getOptionsParams": {},//字段绑定字典参数 可替换
                "placeholder": "",
                "setOptionsBind": {
                    "label": "label",
                    "value": "value"
                },
                "elementName": "el-default",//字段组件类型 可替换
                "extends": {
                    "optValue": ""
                }
            }
        ],
        "formApi": {
            "saveApiUrl": "/api/${moduleName}/${businessName}/save",//新增接口路径 可替换
            "saveApiParams": {},//新增参数 可替换
            "updateApiUrl": "/api/${moduleName}/${businessName}/update",//修改接口路径 可替换，把修改独立出来
            "updateApiParams": {},//修改参数 可替换
            "detailApiUrl": "/api/${moduleName}/${businessName}",//详情接口路径 可替换
            "detailApiParams": {}//详情接口参数 可替换
        }
    }
}
